* {
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style: none;
}

/* Página home */

/* header*/
header {
    position: fixed;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: solid 5px var(--Laranja);
    background-color: var(--AzulEscuro);
    z-index: 1;
    width: 95vw;
    border-radius: 15px;
    top: 2%;
    left: 2%;
}

header ul {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 1.5vw;
}

header li {
    font-size: 1.5vw;
    padding: 1vw;
}

header li a {
    color: var(--Laranja);
    transition: width 0.5s ease-in-out;
}

header li a:hover {
    border-bottom: solid var(--Laranja);
    padding-bottom: 1.2vh;
}

header button {
    background-color: var(--Laranja);
    color: white;
    border: none;
    border-radius: 20px;
    height: 5vh;
    width: 6.6vw;
    font-size: 1.3vw;
    margin-left: 10px;
    transition: 0.8s;
}

header button:hover {
    background-color: white;
    color: var(--Laranja);
    border: solid 2px var(--Laranja);
}

header img {
    height: 9%;
    width: 7%;
    margin-left: 30px;
    padding: 0.5vw;
}

/* Fundo da home */
.fundoHome {
    height: 92vh;
    width: 100%;
    display: flex;
    justify-content: center;
    border-bottom: solid 5px var(--Laranja);
    overflow: hidden;
}

.fundoHome .carrossel {
    display: flex;
    width: 300%;
    height: 150%;
    animation: CarrosselAnimado 18s infinite;
    /* chamando a animação */
}
/* keyframes cria uma animação */
@keyframes CarrosselAnimado {
    
    0% {
        transform: translateX(-70%);
    }

    10% {
        transform: translateX(-70%);
    }

    20% {
        transform: translateX(-70%);
    }

    30% {
        transform: translateX(-140%);
    }
    
    40% {
        transform: translateX(-140%);
    }
    
    50% {
        transform: translateX(-70%);
    }
    
    60% {
        transform: translateX(-70%);
    }
    
    70% {
        transform: translateX(0);
    }

    80% {
        transform: translateX(0);
    }

    90% {
        transform: translateX(-70%);
    }

    100% {
        transform: translateX(-70%);
    }
}

.fundoHome img {
    height: 100%;
    width: 80%;
    border-left: solid 4px var(--Laranja);
    border-right: solid 4px var(--Laranja);
    filter: brightness(30%);
    /* Escurece a imagem*/
}

.fundoHome img:hover {
    filter: brightness(70%);
}

/* Parte debaixo da home, abaixo da tela principal*/
/* Parte do texto */
.intro-title {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    background-color: var(--AzulEscuro);
}

.intro-title h1 {
    font-size: 3vw;
    color: var(--Laranja);
    padding: 3vw;
}

.intro-title hr {
    background-color: var(--Laranja);
    padding: 0.2vw;
    width: 98.4vw;
    border: none;
}

/* Informações sobre a história basquete */
.content-history {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 80%;
    align-items: center;
    justify-content: center;
    color: white;
    margin-top: 7vh;
}

.content-history .content-section {
    display: flex;
    flex-direction: row;
    justify-content: center;
    height: 100%;
    width: 80%;
    margin: 4.5vh 0;
    border-left: solid 7px var(--Laranja);
    border-right: solid 7px var(--Laranja);
    border-radius: 33px;
    background-color: var(--AzulEscuro);
}

.content-history .content-section:hover {
transform: translateY(-12px);
    transition: 0.4s;
    box-shadow: 0 0 20px 5px var(--AzulEscuro);
    border-left: solid 7px white;
    border-right: solid 7px white;
}

.content-history .content-section span {
    font-size: 2vw;
    font-weight: bold;
}

.content-history .content-section p {
    padding: 1.3vw;
    font-size: 1.3vw;
}

.content-history .content-section #image-section-1 {
    /* Como surgiu */
    height: 50vh;
    width: 45vw;
    border-radius: 30px;
}

.content-history .content-section #image-section-2 {
    /* Como era jogado */
    height: 65vh;
    width: 50vw;
    border-radius: 30px;
}

.content-history .content-section #image-section-3 {
    /* Chegada ao Brasil */
    height: 62vh;
    width: 50vw;
    border-radius: 30px;
}

.content-history .content-section #image-section-4 {
    /* Crescimento */
    height: 65vh;
    width: 50vw;
    border-radius: 30px;
}

.content-history .content-section #image-section-5 {
    /* Oscar */
    height: 65vh;
    width: 50vw;
    border-radius: 30px 0 0 30px;
}

.content-history .content-section #image-section-6 {
    /* Schmidt */
    height: 65vh;
    width: 50vw;
    border-radius: 0 30px 30px 0;
}

.content-history hr {
    background-color: var(--Laranja);
    padding: 0.2vw;
    margin: 5vh 0 0 0;
    width: 98.4vw;
    border: none;
}

/* Regras do basquete */
.content-rules {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    align-items: center;
    justify-content: center;
    color: white;
}

.content-rules .content-group {
    display: flex;
    flex-direction: row;
    width: 80%;
    height: 100%;
    align-items: center;
    justify-content: center;
    color: white;
    margin-top: 4vh;
}

.content-rules .content-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 75vh;
    width: 40%;
    margin: 4.5vh 3vw 0 3vw;
    border-left: solid 7px var(--Laranja);
    border-right: solid 7px var(--Laranja);
    border-radius: 33px;
    background-color: var(--AzulEscuro);
}
.content-rules .content-section:hover {
    transform: translateY(-12px);
    transition: 0.4s;
    box-shadow: 0 0 20px 5px var(--AzulEscuro);
    border-left: solid 7px white;
    border-right: solid 7px white;
}

.content-rules #image {
    height: 35vh;
    width: 30vw;
    border-radius: 30px;
    margin: 1.5vh;
    margin-bottom: 0;
    box-shadow: 0 0 5px 0 white;
    object-fit: cover;
}

.content-rules .content-section span {
    font-size: 2vw;
    font-weight: bold;
}

.content-rules .content-section p {
    padding: 1vw;
    font-size: 1.3vw;
}

.content-rules hr {
    background-color: var(--Laranja);
    padding: 0.2vw;
    margin: 5vh 0 0 0;
    width: 98.4vw;
    border: none;
}

/* Fundamentos do basquete */
.content-fundamentals {
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 100%;
    align-items: center;
    justify-content: center;
    color: white;
}

.content-fundamentals .content-group{
    display: flex;
    flex-direction: row;
    width: 50%;
    height: 100%;
    align-items: center;
    justify-content: center;
    margin: 8vh 0;
}

.content-fundamentals .content-group .content-text{
    display: flex;
    flex-direction: row;
    width: 85%;
    height: 100%;
    align-items: center;
    justify-content: center;
    margin-left: 5vw;
    background-color: var(--AzulEscuro);
    border-radius: 30px;
    border-left: solid 7px var(--Laranja);
    border-right: solid 7px var(--Laranja);
}

.content-fundamentals span {
    font-size: 2vw;
    font-weight: bold;
}

.content-fundamentals p {
    padding: 3vw;
    font-size: 1.3vw;
}

.content-quiz-card {
    background-color: #020a3a;
    color: white;
    border-radius: 20px;
    width: 75%;
    height: 100%;
    border: 7px solid #ff6a00;
    display: flex;
    flex-direction: column;
    justify-content: center; 
    align-items: center;
}

.content-quiz-card img {
    width: 95%;
    height: 30vh;
    object-fit: cover;
    border-radius: 30px;
    filter: brightness(0.7);
    padding: 20px 20px 0 20px;
}

.content-fundamentals button {
    background-color: var(--Laranja);
    color: white;
    border: none;
    border-radius: 20px;
    height: 7vh;
    width: 11vw;
    font-size: 1.3vw;
    margin-left: 10px;
    margin-bottom: 1.3vw;
    transition: 0.8s;
}

.content-fundamentals button:hover {
    background-color: white;
    color: var(--Laranja);
    border: solid 2px var(--Laranja);
}

/* footer */
footer {
    display: flex;
    justify-content: space-between;
    width: 100%;
    height: 100%;
    background-color: var(--AzulEscuro);
    border-top: solid 4px var(--Laranja);
    margin-top: 5vh;
}

footer img {
    width: 20%;
    height: 10%;
    padding: 4vw 0 3vw 4vw;
}

footer .footer-column {
    display: flex;
    width: 55%;
    margin-top: 4vw;
    margin-right: 2vw;
}

footer .mensagens {
    display: inline;
    justify-content: space-between;
    width: 100%;
    height: 100%;
    font-size: 1.5vw;
    margin: 0 20px;
}

footer a {
    color: white;
}

footer .footer-links {
    font-weight: bolder;
}

/* Tela de Cadastro/Login, estilizando ambas juntas */
.authentication {
    display: flex;
    flex-direction: row;
}

/* ===============*/
/*   FORMULÁRIO   */
/* ===============*/
.LoginCadastro .container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    /* Vou alterar */
    width: 50vw;
    background: radial-gradient(circle, rgba(171, 230, 245, 1) 0%, rgba(29, 29, 168, 1) 74%, rgba(19, 36, 99, 1) 100%);
}

.LoginCadastro input::placeholder {
    color: rgba(242, 186, 165, 0.707);
}

.LoginCadastro input:hover::placeholder {
    color: white;
}

.LoginCadastro .formulario h1 {
    color: white;
    font-size: 2vw;
    margin: 1.5vw 0 0.5vw 0;
}

.LoginCadastro .formulario p {
    color: white;
    font-size: 1.2vw;
}

.LoginCadastro .formulario a {
    color: var(--Laranja);
    font-size: 1.2vw;
}

.campo {
    margin: 0.2vw 2vw;
    margin-top: 1vh;
    height: 6vh;
}

.campo i {
    position: absolute;
    color: var(--Laranja);
    font-size: 16px;
    margin-top: 2.3vh;
}

#div_mensagem {
    display: block;
    color: var(--AzulEscuro);
    margin: 14px 0 5px 0;
    padding: 4px;
    border-radius: 5px;
    font-size: 1.1vw;
}

.erro {
    color: white;
    background-color: rgba(255, 19, 19, 0.582);
    border: solid 2px rgb(44, 1, 1);
    margin: 14px 0 5px 0;
    padding: 4px;
    border-radius: 5px;
}

.realizado {
    color: white;
    background-color: rgba(15, 216, 106, 0.582);
    border: solid 2px rgb(7, 80, 4);
    margin: 14px 0 5px 0;
    padding: 4px;
    border-radius: 5px;
}


/* Tela de cadastro */
.Cadastro .background_cadastro {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    height: 100vh;
    /* Vou alterar */
    width: 50vw;
    background-image: linear-gradient(rgba(0, 0, 0, 0.7)), url(../assets/imgs/imagemCadastro.jpg);
    background-size: cover;
    color: rgb(255, 255, 255);
    font-size: 2.2vw;
}

.Cadastro .formulario {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
    top: 5%;
    height: 69vh;
    width: 32vw;

    background-color: var(--AzulEscuro);
    border: solid 0.25vw var(--Laranja);
    border-radius: 8%;
}

.Cadastro input {
    background-color: transparent;
    border: solid transparent;
    border-bottom: solid 0.2vw var(--Laranja);
    color: white;
    padding: 0 0 0 1.5vw;
    height: 6vh;
    width: 25.5vw;
    font-size: 1.1vw;
    transition: 0.5s;
}

.Cadastro input:hover {
    border-bottom: solid 0.2vw white;
    transition: 0.3s ease-in-out;
}

.Cadastro .formulario button {
    background-color: var(--Laranja);
    color: white;
    border: solid 2px var(--Laranja);
    border-radius: 30px;
    font-size: 1.3vw;
    padding: 0.7vw 0.9vw;
    margin: 1.2vw;
    transition: 0.7s;
}

.Cadastro .formulario button:hover {
    background-color: white;
    color: var(--Laranja);
    border: solid 2px var(--Laranja);
}

.Cadastro .separa {
    width: 30vw;
    margin: 2vh;
}

/*Tela de Login*/
.Login .background_login {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    height: 100vh;
    /* Vou alterar */
    width: 50vw;
    background-image: linear-gradient(rgba(0, 0, 0, 0.7)), url(../assets/imgs/imagemLogin.jpg);
    background-size: cover;
    color: white;
    font-size: 2.1vw;
}

.Login .formulario {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
    top: 5%;
    height: 45vh;
    width: 28vw;

    background-color: var(--AzulEscuro);
    border: solid 0.25vw var(--Laranja);
    border-radius: 8%;
}

.Login input {
    background-color: transparent;
    border: solid transparent;
    border-bottom: solid 0.2vw var(--Laranja);
    color: white;
    padding: 0 0 0 1.5vw;
    height: 6vh;
    width: 21.5vw;
    font-size: 1.1vw;
    transition: 0.5s;
}

.Login input:hover {
    border-bottom: solid 0.2vw white;
    transition: 0.7s ease-in-out;
}

.Login .formulario button {
    background-color: var(--Laranja);
    color: white;
    border: solid 2px var(--Laranja);
    border-radius: 30px;
    font-size: 1.3vw;
    padding: 0.5vw 1.6vw;
    margin: 1.2vw;
    transition: 0.7s;
}

.Login .formulario button:hover {
    background-color: white;
    color: var(--Laranja);
    border: solid 2px var(--Laranja);
}

.Login .formulario p {
    font-size: 1.2vw;
}

.Login .formulario a {
    font-size: 1.2vw;
}

.Login .separa {
    width: 30vw;
    margin: 2vh;
}

:root {
    --Laranja: #FC6625;
    --CinzaClaro: #8F9491;
    --CinzaEscuro: #474747;
    --AzulEscuro: rgb(2, 4, 42);
    --Bege: #FFF4ED;
}